body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
}

.double-border {
    border: 2px solid red; 
    padding: 10px; 
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .double-border::before {
    content: "";
    position: absolute;
    top: -6px; 
    left: -6px;
    right: -6px; 
    bottom: -6px; 
    border: 2px solid red; 
  }

  .section1, .section2,  .section3{
    width: 90%;
  }

  .row{
    display: flex;
    justify-content: space-between;
  }

  .row > p{
    margin: 1%;
  }



  