.row{
    display: flex;
    justify-content: space-between;
}

.col{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.title{
    font-size: large;
    font-weight: 600;
    font-size: 1.8em;
}

.des{
    font-size: 1.2em;
}
* {
    font-family: "Audiowide", sans-serif;
}