.product-page {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h2 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.product .price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product .price .original-price {
  text-decoration: line-through;
  color: #999;
}

.product .price .discounted-price {
  font-size: 18px;
  font-weight: bold;
  color: #e74c3c;
}

.product .price .discount {
  background-color: #e74c3c;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 890px) {
  .products {
    grid-template-columns: repeat(2, 1fr); /* Two columns on screens up to 890px */
  }
}

@media screen and (max-width: 600px) {
  .products {
    grid-template-columns: 1fr; /* Single column on small screens */
  }
}

@media screen and (min-width: 1400px) {
  .products {
    max-width: 1400px; /* Adjust the maximum width for larger screens */
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Increase min size for larger screens */
  }
}




