* {
  font-family: "Audiowide", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 50px;
}

.articles {
  display: grid;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 24px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

article {
  border: 0.5px solid grey;
  border-radius: 16px;
  background: #fff;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

article:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article h2 {
  margin: 0 0 18px 0;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: #333;
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

article img {
  max-width: 100%;
  display: block;
}

.article-body {
  padding: 24px;
}

@media (max-width: 1024px) {
  article h2 {
      font-size: 1.7rem;
  }

  .article-body {
      padding: 20px;
  }

  .row{
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .articles {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 15px;
  }

  article h2 {
      font-size: 1.5rem;
  }

  /* .row{
    margin:0px
  } */

  .article-body {
      padding: 16px;
  }
}

@media (max-width: 480px) {
  .articles {
      padding: 0 10px;
      gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      max-width: 500px;
  }

  article h2 {
      font-size: 1.3rem;
  }

  .row{
    margin-top:30px
  }
  p{
    font-size: small;
  }

  .article-body {
      padding: 12px;
  }
}
